.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  margin: 0 auto;
  padding: 1em;
}

.navbar-btn {
  margin: 0.5em;
  background-color: gray;
}

.container-bodega {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-order {
  text-align: left;
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.btn {
  background-color: #5894d0;
  font-weight: bold;
  color: white;
  margin-left: 0.5em;
}

.btn:hover {
  background-color: white;
  color:  #5894d0;
}

.btn-filtro {
  background-color: #5894d0;
  font-weight: bold;
  color: white;
  margin: 0.5em;
  padding: 0.3em;
  border-color: #757575;
  border-style: solid;
  border-radius: 10px;
}

.btn-filtro:hover {
  background-color: white;
  color:  #5894d0;
}

.btn-filtro-activo {
  background-color: white;
  font-weight: bold;
  color: #5894d0;
  margin: 0.5em;
  padding: 0.3em;
  border-color: #757575;
  border-style: solid;
  border-radius: 10px;
}

.btn-filtro-activo:hover {
  background-color: #5894d0;
  color: white;
}

.btn-action {
  background-color: #91cc91;
  border-color: #529252;
}

.btn-action:hover {
  background-color: #529252;
  border-color: #91cc91;
}

.visibility-filters {
  min-height: 2.5em;
}

.view-route {
  margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
